{
    "name": "DMZ",
    "description": "The AWS DMZ Zone that hosts the edge servers for external connections",
    "publicURLPrefix": "mft-{{ env_name }}-v5-5.amp.com.au",
       "ssoSpEntityId": "",
       "isDnsResolutionEnabled": true,
       "isDefault": false
}
