{
  "loginName": "esiadmin",
  "roleName": "Master Administrator",
  "isLimited": false,
  "localAuthentication": true,
  "dualAuthentication": false,
  "locked": false,
  "passwordCredentials": {
    "password": "{{esiadmin_password}}",
    "passwordExpired": false,
  },
  "administratorRights": {
    "canReadOnly": false,
    "isMaker": true,
    "isChecker": true,
    "canCreateUsers": true,
    "canUpdateUsers": true,
    "canAccessHelpDesk": true,
    "canSeeFullAuditLog": true,
    "canManageAdministrators": true,
    "canManageApplications": true,
    "canManageSharedFolders": true,
    "canManageBusinessUnits": true,
    "canManageRouteTemplates": true,
    "canManageExternalScriptStep": true,
    "canManageExternalScriptRootExecution": true,
    "canManageLoginRestrictionPolicies": true,
    "canManageIcapSettings": true
  },
  "businessUnits": [
    "string"
  ]
}