{
  "isEnabled": true,
  "globalArchivingPolicy": "enabled",
  "archiveFolder": "/mfthub/Archives/FileTransfers",
  "encryptionCertificate": "",
  "deleteFilesOlderThan": 30,
  "deleteFilesOlderThanUnit": "days",
  "maximumFileSizeAllowedToArchive": 0
}