  {
    "name": "sftpd",
    "subject": "OU=Cost_Centre:TX570, O=AMP Internal - Not for production use, C=AU, CN=stserver",
    "type": "x509",
    "usage": "local",
    "keyAlgorithm": "RSA",
    "serialNumber": "02",
    "keySize": 2048,
    "version": 3,
    "validityPeriod": 3650,
    "account": null,
    "accessLevel": "PUBLIC",
    "caPassword": "{{internal_ca_password}}",
    "validationStatus": "Valid and chained to a trusted root",
    "password": null,
    "overwrite": null,
    "exportPrivateKey": null,
    "exportSSHPublicKey": null,
    "signAlgorithm": "SHA256WITHRSA",
    "additionalAttributes": {}
  }
